.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.total-section {
    display: flex; /* 橫向排列 */
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    position: relative; /* 為下載按鈕留出空間 */
}

.csv-link {
    display: flex; /* 使用 flexbox 來居中 */
    justify-content: center;
    margin-top: 10px; /* 增加上邊距 */
}

.csv-button {
    background-color: #4a9bf3; /* 藍色背景 */
    color: white;
    padding: 10px 20px; /* 增加內邊距 */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px; /* 增加字體大小 */
    transition: background-color 0.3s; /* 增加過渡效果 */
    height: 22px;
}

.csv-button:hover {
    background-color: #0056b3; /* 滑鼠懸停效果 */
}

.warning {
    color: red; /* 警告顏色 */
    margin: 10px 0;
}

.input-section {
    margin-top: 20px;
    font-size: 20px;
}

.category-select, .input-field {
    font-size: 16px; /* 增加按鈕大小 */
    padding: 10px;
    margin: 10px 5px; /* 空隙 */
    width: 150px; /* 調整輸入框大小 */
}

.add-button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 20px;
}

.form {
    margin-top: 20px;
}

.records {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
    text-align: left;
    display: flex;
    justify-content: space-between; /* 左右對齊 */
    position: relative; /* 位置設定 */
}

.record-content {
    display: flex;
    justify-content: space-between; /* 左右排列 */
    width: 100%; /* 設定寬度 */
}

.record-category,
.record-name,
.record-amount {
    margin-right: 10px; /* 固定間距 */
}

.record-category{
    margin-left: 20px;
}

.record-amount{
    margin-top: 3px;
}

.record-date {
    width: 120px;
    margin-right: 12px; /* 固定間距 */
    margin-top: 3px;
    font-size: 15px; /* 日期字體大小 */
}

.income {
    background-color: #d4edda; /* 收入顏色 */
}

.expense {
    background-color: #f8d7da; /* 支出顏色 */
}

form button[type="submit"] {
    font-size: 18px; /* 增加字體大小 */
    padding: 10px 20px; /* 增加內邊距 */
    background-color: #609ee0; /* 按鈕背景顏色 */
    color: white; /* 字體顏色 */
    border: none; /* 無邊框 */
    border-radius: 8px; /* 圓角 */
    cursor: pointer; /* 指標顯示為手指 */
    transition: background-color 0.3s; /* 增加過渡效果 */
}

form button[type="submit"]:hover {
    background-color: #2c3b8d; /* 滑鼠懸停時的背景顏色 */
}

.delete-button {
    color: red;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 13px;
    right: -15px;
  
}
